@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --geist-primary: var(--font-geist-sans);
  --geist-mono: var(--font-geist-mono);
  --montserrat: var(--font-montserrat);
  --poppins: var(--font-poppins);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--montserrat, Arial, sans-serif);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .heading {
    @apply font-poppins text-3xl font-bold text-[#333333] max-md:text-xl;
  }

  .description {
    @apply pb-10 font-poppins text-[#666666] max-md:text-sm;
  }
}

/* Add this to your global styles (e.g., `globals.css` or in the tailwind config) */
@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
